@charset "utf-8";
/* CSS Document */
/* Felice CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span, a, .filter p a:hover, .filter p a.active, .dropdown-menu > .active > a i, .dropdown-menu > .active > a:hover i, .dropdown-menu > .active > a:focus i, .dropdown-menu > li > a:hover i {
	color: #9CF;
}
.btn, .thumbnail:hover .view-thumb i:hover, .item:hover .view-thumb i:hover, .thumbnails.featured i, .data-time span, .data-time-big, .pricing i, .pricing .price, .social-links a i:hover, .more-info:hover, .navbar-inner {
	background: #9CF;
}
.progress-striped .bar {
	background-color: #9CF;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, select:focus {
	border-color: #9CF;
}